<div class="dark:bg-gray-900 h-full">
  <div class="float-right flex flex-row p-4">
    <button data-action="click->theme#toggle" data-theme-target="button" class="button darker truncate">Dark Mode</button>
  </div>

  <div class="px-[30%] py-28 flex flex-col flex-grow text-sm w-full space-y-16">
    <div>
      <h1 class="mr-auto font-bold text-2xl my-1 dark:text-white px-1">
        Account edit.
      </h1>

      <p class="mb-4 px-1 dark:text-white">Enter the details you wish to replace and then confirm with your old password. Blank fields will be untouched.</p>

      <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |form| %>
        <div class="flex flex-col space-y-1 p-1">
          <%= form.text_field :name, autofocus: true, placeholder: "Name", class: "input" %>
          <%= form.email_field :email, autocomplete: "email", placeholder: "Email", class: "input" %>
          <%= form.password_field :password, autocomplete: "new-password", placeholder: "New Password", class: "input" %>
          <%= form.password_field :password_confirmation, autocomplete: "new-password", placeholder: "Confirm New Password", class: "input" %>
        </div>

        <div class="flex flex-col mt-3 px-1">
          <%= form.password_field :current_password, autocomplete: "current-password", placeholder: "Confirm Current Password", class: "input" %>
        </div>

        <div class="flex flex-row mt-3 px-1">
          <%= link_to "Didn't want to edit? Cancel changes.", root_path, class: "mr-auto text-sm my-0.5 dark:text-white h-full flex flex-col hover:text-blue-700 active:text-blue-800 dark:hover:text-blue-500 dark:active:text-blue-600 cursor-pointer duration-100" %>
          <%= form.submit "Save changes", class: "ml-auto button blue" %>
        </div>
      <% end %>
    </div>
  </div>
</div>