<div class="px-[30%] py-28 flex flex-col flex-grow text-sm space-y-4 w-full">
  <div>
    <h1 class="mr-auto font-bold text-2xl my-1 dark:text-white pb-1 px-1">
      Account sign up.
    </h1>

    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |form| %>
      <div class="flex flex-col p-1 space-y-1">
        <%= form.text_field :name, autofocus: true, placeholder: "Name", class: "input" %>
        <%= form.email_field :email, autocomplete: "email", placeholder: "Email", class: "input" %>
        <%= form.password_field :password, autocomplete: "new-password", placeholder: "Password", class: "input" %>
        <%= form.password_field :password_confirmation, autocomplete: "new-password", placeholder: "Confirm Password", class: "input" %>
      </div>

      <div class="flex flex-row mt-3 px-1">
        <%= link_to "Have an account? Log in!", new_user_session_path, class: "mr-auto text-sm my-0.5 dark:text-white h-full flex flex-col hover:text-blue-700 active:text-blue-800 dark:hover:text-blue-500 dark:active:text-blue-600 cursor-pointer duration-100" %>
        <%= form.submit "Sign up", class: "ml-auto button blue" %>
      </div>
    <% end %>
  </div>
</div>


