<div class="flex flex-row w-full h-full dark:bg-gray-900 duration-100">
  <div class="flex flex-col h-full min-w-[20%] w-[20%] max-w-[20%] text-sm bg-gray-100 pt-4 space-y-3 border-r border-gray-200 dark:bg-gray-800 dark:border-gray-700">
    <div class="px-3 flex flex-col space-y-2">
      <b class="dark:text-white">Hello, <%= current_user.name %></b>

      <div class="flex flex-row justify-between">
        <button data-action="click->theme#toggle" data-theme-target="button" class="button darker truncate">Dark Mode</button>
        <%= link_to "Edit account", edit_user_registration_path, class: "button darker truncate" %>
        <%= button_to "Log out", destroy_user_session_path, method: :delete, class: "button darker truncate" %>
      </div>
    </div>

    <hr class="mx-2 dark:border-gray-700"/>
      
    <% if @users != [] %>
      <section class="px-2 space-y-0.5 dark:text-white">
        <b class="mx-1">Users</b>
        <%= turbo_stream_from "users", class: "!p-0 !p-0 !m-0" %>
        <div id="users" class="mx-1">
          <%= render @users %>
        </div>
      </section>
    <% else %>
      <section class="px-2 space-y-0.5 dark:text-white">
        <b class="mx-1">Users</b>
        <p class="mx-1 text-gray-500">No users to display.</p>
      </section>
    <% end %>

    <% if @rooms != [] %>
      <section class="px-2 space-y-0.5 dark:text-white">
        <b class="mx-1">Rooms</b>
        <%= turbo_stream_from "rooms" %>
        <div id="rooms" class="mx-1">
          <%= render @rooms %>
        </div>
      </section>
    <% else %>
      <section class="px-2 space-y-0.5 dark:text-white">
        <b class="mx-1">Rooms</b>
        <p class="mx-1 text-gray-500">No rooms to display.</p>
      </section>
    <% end %>

    <section class="!mt-auto">
      <%= form_with(model: Room.new, remote: true, class: "flex flex-row p-3", data: { controller: "form-reset", action: "turbo:submit-end->form-reset#reset" }) do |form| %>
        <%= form.text_field :name, autocomplete: "off", placeholder: "Room name", class: "input darker mr-3" %>
        <%= form.submit "New room", data: { disable_with: false }, class: "button darker" %>
      <% end %>
    </section>
  </div>
  
  <% if @single_room %>
    <div class="flex flex-col w-full h-full text-sm overflow-hidden" id="single_room">
      <div class="flex flex-row p-3 dark:text-white border-b border-gray-200 dark:border-gray-700">
        <b class="mr-auto"><%= @user ? @user.name: @single_room.name %></b>
        <p class="ml-auto">0 Messages</p>
      </div>

      <%= turbo_stream_from @single_room %>
      <div id="messages" class="mt-auto overflow-y-auto overflow-x-hidden p-3 space-y-1.5" data-controller="messages" data-messages-target="messages">
        <%= render @messages, user: current_user %>
      </div>

      <div class="flex flex-col justify-center border-t border-gray-200 dark:border-gray-700">
        <%= form_with(model: [@single_room, @message], remote: true, class: "flex flex-row w-full bottom-0 p-3", data: { controller: "form-reset", action: "turbo:submit-end->form-reset#reset" }) do |form| %> 
          <%= form.text_field :body, id: "chat-text", autocomplete: "off", placeholder: "Message '#{@user ? @user.email: @single_room.name}'", class: "input mr-3" %>
          <%= form.submit "Send message", data: { disable_with: false }, class: "button blue" %>
        <% end %>
      </div>
    </div>
  <% end %>
</div>